/.bash_history
/.bash_logout
/.bash_profile
/.bashrc
/.cache
/.conda
/.condarc
/.config
/.dotnet
/.gnome2
/.gnupg
/.kshrc
/.mozilla
/.nv
/.pip
/.python_history
/.ssh
/.vscode-server
/.wget-hsts
/.zshrc
/Miniconda3-latest-Linux-x86_64.sh
/gpu_supervision.py
/key
/key.pub
/kmeans-test
/miniconda3
/paddle_fl-1.1.2-py37-none-any.whl
/paddlepaddle-1.8.5-cp38-cp38-linux_x86_64.whl
/scikit_learn_data